[panda]
module = Panda
name = Panda Parsing
type = rated
weight = 1.0

schedconfig_url = local||http://pandaserver.cern.ch:25080/cache/schedconfig/schedconfig.all.json
panda_analysis_url = local||http://panda.cern.ch:25980/server/pandamon/query?job=*&type=analysis&computingSite=
# interval to check in hours (&hours=)
panda_analysis_interval = 3
panda_production_url = local||http://panda.cern.ch:25980/server/pandamon/query?job=*&type=production&computingSite=
# interval to check in hours (&hours=)
panda_production_interval = 3
site_names = GoeGrid

# definition of analysis and production queues of the according sites
GoeGrid_analysis = ANALY_GOEGRID
GoeGrid_production = GoeGrid

failed_warning = 30
failed_critical = 50
